body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000; /* nền đen */
  color: #fff; /* chữ trắng */
}

header {
  background-color: #111;
  color: gold;
  padding: 1rem;
  text-align: center;
}

.car-card {
  background-color: #1a1a1a;
  border: 1px solid gold;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  color: #fff;
}

button {
  background-color: gold;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
}

button:hover {
  background-color: #d4af37;
}
